.search-area {
    width: 70vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#search-button {
    width: 100%;
    height: 100%;
}

#data-area {
    width: 70vw;
}

.footer-area {
    height: 56px;
}

#data-today .img-fluid {
    height: 100px;
}

#data-today .card {
    background-color: rgba(0, 0, 0, 0.03);
    border: none;
}

#data-fivedays .card-img-top {
    width: fit-content;
}

.icon-font {
    font-size: 25px;
}